.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  overflow: hidden;
  align-items: center;
  margin: 24px auto;
  gap: 24px;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  button {
    cursor: pointer;
    padding: 12px 24px;
    background-color: black;
    border-radius: 12px;
    color: white;
  }
}
