.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 700px;
  padding: 28px 32px;
  background-color: rgb(233, 243, 245);
  border-radius: 24px;
  height: fit-content;
  gap: 24px;
}
.separator {
  border: 1px solid cadetblue;
  width: 100%;
  margin-top: 8px;
}

.profileCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
  width: 100%;

  .profileImage {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    border: 2px solid cadetblue;
  }
}

.reposCard {
  width: 100%;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}

.nameWrapper {
  display: flex;
  gap: 6px;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;

  &:hover {
    color: rgb(65, 106, 108);
    text-decoration: underline;
  }
}

.statsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 6px;
  gap: 18px;
  cursor: pointer;

  .stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;

    &.active {
      color: rgb(34, 111, 113);
      font-weight: bold;
      .statName {
        text-decoration: underline;
      }
    }

    .statValue {
      font-size: 20px;
    }
  }
}
