.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;

  .useFetchHookWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}
